.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s all;
    font-weight: bold;
    margin-right: 1rem;
    transform: scale(.9);
}
.button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
.button.active {
    background-color: #3e6ae1;
    color: #fff;
}